<?xml version="1.0"?>
<config>
    <modules>
        <Kevin_Krewrite>
            <version>0.1.1</version>
        </Kevin_Krewrite>
    </modules>
    <frontend>
        <routers>
            <krewrite>
                <use>standard</use>
                <args>
                    <module>Kevin_Krewrite</module>
                    <frontName>krewrite</frontName>
                </args>
            </krewrite>
        </routers>
    </frontend>
    <admin>
        <routers>
            <krewrite>
                <use>admin</use>
                <args>
                    <module>Kevin_Krewrite</module>
                    <frontName>krewrite</frontName>
                </args>
            </krewrite>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <xpentalog translate="title" module="all">
                            <children>
                                <krewrite module="krewrite">
                                    <title>Kevin URL-Rewrite</title>
                                    <sort_order>10</sort_order>
                                </krewrite>
                            </children>
                        </xpentalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <krewrite>
                    <file>kevin_krewrite.xml</file>
                </krewrite>
            </updates>
        </layout>
        <menu>
            <xpentalog module="all">
                <children>
                    <krewrite module="krewrite">
                        <title>Kevin URL-Rewrite</title>
                        <sort_order>10</sort_order>
                        <action>krewrite/adminhtml_krewrite</action>
                    </krewrite>
                </children>
            </xpentalog>
        </menu>
    </adminhtml>   
    <global>
        <models>
            <core>
                <rewrite>
                    <url_rewrite_request>Kevin_Krewrite_Model_Url_Rewrite_Request</url_rewrite_request>
                </rewrite>
            </core>
            <krewrite>
                <class>Kevin_Krewrite_Model</class>
                <resourceModel>krewrite_mysql4</resourceModel>
            </krewrite>
            <krewrite_mysql4>
                <class>Kevin_Krewrite_Model_Mysql4</class>
                <entities>
                    <krewrite>
                        <table>kevin_krewrite</table>
                    </krewrite>
                    <store>
                        <table>kevin_url_store</table>
                    </store>
                </entities>
            </krewrite_mysql4>
        </models>
        <resources>
            <krewrite_setup>
                <setup>
                    <module>Kevin_Krewrite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </krewrite_setup>
            <krewrite_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </krewrite_write>
            <krewrite_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </krewrite_read>
        </resources>
        <blocks>
            <krewrite>
                <class>Kevin_Krewrite_Block</class>
            </krewrite>
            <adminhtml>
                <rewrite>
                    <urlrewrite_grid>Kevin_Krewrite_Block_Adminhtml_Urlrewrite_Grid</urlrewrite_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <krewrite>
                <class>Kevin_Krewrite_Helper</class>
            </krewrite>
        </helpers>
        <rewrite>
            <kevin_adminhtml_urlrewrite>
                <from><![CDATA[#^/admin/urlrewrite/#]]></from>
                <to>/krewrite/urlrewrite/</to>
            </kevin_adminhtml_urlrewrite>
        </rewrite>
    </global>
</config>