<?xml version="1.0"?>
<config>
    <modules>
        <Pentalog_Blog>
            <version>0.1.0</version>
        </Pentalog_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Pentalog_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Pentalog_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <global>
        <models>
            <blog>
                <class>Pentalog_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Pentalog_Blog_Model_Mysql4</class>
                <entities>
                    <p5_blog>
                        <table>p5_blog</table>
                    </p5_blog>
                    <p5_category>
                        <table>p5_category</table>
                    </p5_category>
                    <p5_blog_category>
                        <table>p5_blog_category</table>
                    </p5_blog_category>
                    <p5_blog_store>
                        <table>p5_blog_store</table>
                    </p5_blog_store>
                    <p5_category_store>
                        <table>p5_category_store</table>
                    </p5_category_store>
                    <p5_comment>
                        <table>p5_comment</table>
                    </p5_comment>
                    <p5_blog_comment>
                        <table>p5_blog_comment</table>
                    </p5_blog_comment>
                    <p5_type>
                        <table>p5_type</table>
                    </p5_type>
                    <p5_category_type>
                        <table>p5_category_type</table>
                    </p5_category_type>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Pentalog_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Pentalog_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Pentalog_Blog_Helper</class>
            </blog>
        </helpers>
    </global>
</config>