<?xml version="1.0"?>
<config>
    <modules>
        <Pentalog_Blog>
            <version>0.1.1</version>
        </Pentalog_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Pentalog_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>xpentalog_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <blog>
                    <files>
                        <default>Xpentalog_Blog.csv</default>
                    </files>
                </blog>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <blog>
                    <file>xpentalog_blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Pentalog_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <global>
        <models>
            <blog>
                <class>Pentalog_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Pentalog_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>p5_blog</table>
                    </blog>
                    <category>
                        <table>p5_category</table>
                    </category>
                    <blogcategory>
                        <table>p5_blog_category</table>
                    </blogcategory>
                    <blogstore>
                        <table>p5_blog_store</table>
                    </blogstore>
                    <categorystore>
                        <table>p5_category_store</table>
                    </categorystore>
                    <comment>
                        <table>p5_comment</table>
                    </comment>
                    <blogcomment>
                        <table>p5_blog_comment</table>
                    </blogcomment>
                    <type>
                        <table>p5_type</table>
                    </type>
                    <categorytype>
                        <table>p5_category_type</table>
                    </categorytype>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Pentalog_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Pentalog_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Pentalog_Blog_Helper</class>
            </blog>
        </helpers>
    </global>
</config>